@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightgrey: var(--lightgrey);
  --color-grey: var(--grey);
  --color-glorious: var(--primary);
  --color-backdrop_background: var(--backdrop-background);
  --color-glorious_border: var(--border-color);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  background-color: #F4F4F1;
  scroll-behavior: smooth;
}
.btn {
  @apply uppercase text-[11px] font-medium h-auto py-1 border-glorious_border font-mono rounded-xs;
}
.badge {
  @apply uppercase text-[11px] h-auto py-1 bg-[#e5e5e5] font-mono  border-none rounded-xs;
}
.btn-dusk {
  @apply border-0 bg-black/10;
}
p {
  font-family: var(--font-glorious);
}
.btn-main {
  @apply bg-glorious;
}
.floating-text {
  @apply  text-[12px] font-mono font-medium;
}
.desktop-menu-link {
  @apply uppercase text-[12px] font-mono relative pl-3 before:absolute before:w-[5px] before:h-[5px] before:bg-foreground before:rounded-full before:left-0 before:top-1/2 before:-translate-y-1/2 before:opacity-0 hover:before:opacity-100 before:transition-all before:duration-100 before:ease-in-out;
}
.about-nav li {
  @apply relative pl-3 opacity-70 before:absolute before:w-[5px] before:h-[5px] before:bg-foreground before:rounded-full before:left-0 before:top-1/2 before:-translate-y-1/2 before:opacity-0 hover:before:opacity-100 before:transition-all before:duration-100 before:ease-in-out;
}
.about-nav li.active {
  @apply opacity-100;
}
.about-nav li.active::before {
  @apply opacity-100;
}
.filterItem.active {
  @apply  opacity-100 before:opacity-100;
  }
.filterItem {
  @apply relative pl-3 opacity-70 before:absolute before:w-[5px] before:h-[5px] before:bg-foreground before:rounded-full before:left-0 before:top-1/2 before:-translate-y-1/2 before:opacity-0 hover:before:opacity-100 before:transition-all before:duration-100 before:ease-in-out;
}
.filterItem.checked {
@apply  opacity-100 before:opacity-100;
}
.xs-mono {
  @apply uppercase text-[12px] font-mono;
}

.desktop-menu-link.current {
  @apply before:opacity-100;
}

.section-title {
  @apply font-mono text-[12px] uppercase;
}
.section-title-md {
  @apply font-mono text-[14px] uppercase font-medium;
}

:root {
  --primary: #EAFF01;
  --background: #F4F4F1;
  --foreground: #121212;
  --lightgrey: #d3d3d3;
  --grey: #8B8B8B;
  --backdrop-background: rgba(211,211,211,0.5);
  --border-color: rgb(139 139 139 / 50%);
}

html {
  color-scheme: light;
  font-size: 16px;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-antonia);
}

#pagebody {
  transition: background-color 0.3s ease-in-out;
}

.slide {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  will-change: transform; /* Optimize for animations */
}
.inner {
  background-color: var(--background);
}

.page {
  position: relative;
  z-index: 10;
  background-color: var(--background);
}
.motion-div {
  background-color: #1c1c1c;
}
.content {
  min-height: 100vh; /* Ensure the page fills the viewport */
}

/* Example header style */
.header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
}

/* Just a quick reset for <Link> */
.header a {
  text-decoration: none;
  color: #333;
}

.hello-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.hello-line-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

.group:hover .hello-line-black {
  transform: translateX(0) !important;
}

.group:not(:hover) .hello-line-black {
  transform: translateX(100%) !important;
}

.case-content p {
  margin-bottom: 1.2rem;
}

/* Mobile menu link styles */
.mobile-menu-link {
  position: relative;
  transition: all 0.3s ease;
}

.mobile-menu-link.current {
  font-weight: 600;
}

.mobile-menu-link.current::after {
  content: '';
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

 